/* Navbar */

.navbar-default {
    background-color: #5bc0de;
    border-color: #46b8da;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #337ab7;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #337ab7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #337ab7;
    background-color: #46b8da;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #337ab7;
    background-color: #46b8da;
}
.navbar-default .navbar-toggle {
    border-color: #46b8da;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #46b8da;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #337ab7;
}
/* Navbar */

/* Custom */
.main-color-bg{
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
    color:#ffffff !important;
}
/* Custom */

/* Thietbi */
.hthietbi h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.panel-footer{
    background-color:#5bc0de;
    border-color: #46b8da;
    color: #FFFFFF;

}

.panel-footer .pagination{
    margin:0; 
}



.panel-footer .col{
    line-height: 34px;
    height: 34px;
}

.glyphicon{
    margin-right:5px;
}

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}




/* Thiet bi */




/*Phòng học*/

/*.tableDSTB{
    width: 100%;
    background-color: #f3f3f3;
}
.tableDSTB tbody{
    height:200px;
    overflow-y:auto;
    width: 100%;
}


.tableDSTB{
    font-size: 13px;

}*/
#tableNKPH{
    overflow-y:scroll;
    height:300px;
    width: 100%;

}

#tableThietBi{
    overflow-y:scroll;
    height:240px;
    width: 100%;
}

.tableShowNKPH{
    font-size: 13px;
    white-space:nowrap;
    margin-bottom: 0px;
}
.tableShowNKPH th{
    text-align: center;

}



/*Phòng học*/ 



/*Slide cho thietbi*/
.carouseltb {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-controltb {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel-controltb.right {
    right: -12px;
}
/* The indicators */
.carousel-indicatorstb {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicatorstb li {
    background: #cecece;
}
.carousel-indicatorstb .active {
    background: #428bca;
}

/*Slide cho thietbi*/


/* Giảng đường */

div.treeview {
    min-width: 100px;
    min-height: 100px;

    max-height: 256px;
    overflow:auto;

    padding: 4px;

    margin-bottom: 20px;

    color: #369;

    border: solid 1px;
    border-radius: 4px;
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;

    color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    font-weight:700;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;

    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;

    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
/* Giảng đường */



/* Nhân viên */

.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

/* .table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
} */

.tnhanvien>tbody>tr>td{
    vertical-align: middle !important;
}

.nopadding{
    margin-top:0px !important;
    margin-bottom :0px !important;
}

/* Nhân viên */

#lienhe #team {
    /*background: #5bc0de !important;*/
}



#lienhe section .section-title {
    text-align: center;
    color: #46b8da;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#lienhe .card-body{
    padding: 20px;
}

#lienhe .card-body .card-text{
     color: #fff;
}
#lienhe .card-body a .label{
     font-size: 14px;
}
#lienhe #team .card {
    border: none;
    background: #5bc0de;
}

#lienhe .image-flip:hover .backside,
#lienhe .image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

#lienhe .image-flip:hover .frontside,
#lienhe .image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#lienhe .mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

#lienhe .frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

#lienhe .backside {
    position: absolute;
    top: 0;
    left: 0;
    background: #46b8da;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#lienhe label{
    font-size: 14px !important;
}

#lienhe .frontside,
#lienhe .backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

#lienhe .frontside .card,
#lienhe .backside .card {
    min-height: 250px;
    min-width: 360px;
}

#lienhe .backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

#lienhe .frontside .card .card-title,
#lienhe .backside .card .card-title {
    color: #fff !important;
}

#lienhe .frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*lienhe*/


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #337ab7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #337ab7;
        background-color: #46b8da;
    }
}


body {

}

.navbar {
    margin-bottom: 20px;
}

.navbar-default{
    border: none;
    border-radius: 0;
}

.footer h3
{
    font-weight: bold;

}

.footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #2c3e50;
    color: #fff;
}

.btns{
    border: white;
    color: white;
    /* background-color: white; */
    font-size: 40px;
}

.test{
    border-color: white;
}

.list-inline{
    list-style: none;
    padding-left: 0;

}
.jumbotron { 
    background-color: #2c3e50;
    color: white;
}

.smallfont{
    font-size: 12px !important;
}

@media (min-width: 1200px) {
    .jumbotron { 
        max-height: 200px;
        padding-top: 10px;
        padding-bottom: 10px; 
        background-image: url(http://qlgd.vimaru.edu.vn/themes/trangchu/images/banner.jpg);
        background-size: cover;
        background-position: center;
    }




    .btn-sq-lg {
        width: 150px !important;
        height: 150px !important;
        border-radius: 0px !important;
    }

    .btn-sq-lg i{
        margin-top:20px;
    }

    .btn-sq {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

    .btn-sq-sm {
        width: 50px !important;
        height: 50px !important;
        font-size: 10px;
    }

    .btn-sq-xs {
        width: 25px !important;
        height: 25px !important;
        padding:2px;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .btn-sq-lg i{
        margin-top:0px;
    }
}

